.offer {
  background-color: #405D78;
}

.offer-boxes {
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100% ;
}

h1 {
  margin-top: 0;
  padding-top: 40px;
}

.offer-boxes-item-cnt h2 {
  font-weight: normal;
  font-size: 24px;
}

.offer-boxes-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #F1F1F1;
  margin-bottom: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.offer-boxes-item:nth-last-child(1) {
  margin-bottom: 0;
}

.offer-boxes-item-dot {
  position: absolute;
    top: -11px;
    left: -11px;
  width: 22px;
  height: 22px;
  background-color: #E07A64;
  border-radius: 50%;
}

.offer-boxes-item-cnt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {

  .offer-boxes-item {
    position: relative;
    width: 45%;
    padding-bottom: 45%;
    background-color: #F1F1F1;
    margin-right: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .offer-boxes-item:nth-of-type(2n) {
    margin-right: 0;
  }

  .offer-boxes-item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {

  .offer-boxes {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 720px;
  }

  .offer-boxes-item {
    position: relative;
    width: 27.77%;
    padding-bottom: 27.77%;
    background-color: #F1F1F1;
    margin-right: 8.345%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.5s;
  }

  .offer-boxes-item:nth-of-type(2n) {
    margin-right: 8.345%;
  }

  .offer-boxes-item:nth-of-type(3n) {
    margin-right: 0;
  }

  .offer-boxes-item:nth-last-child(3) {
    margin-bottom: 0;
  }

  .offer-boxes-item:hover {
    transform: scale(1.05);
  }
}