footer {
  width: 100%;
  background-color: #4E4E4E;
}

footer .container {
  height: 71px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  padding: 5px 0;
}

.footer-links a {
  font-size: 25px;
  margin-right: 18px;
}

.footer-links a:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {

  footer .container {
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
  }

  footer .container {
    justify-content: space-between;
    flex-direction: row;
  }
}