html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 36px;
  color: #FFF;
}

h1, h2 {
  font-weight: bold;
}

a {
  color: #FFF;
  text-decoration: none;
}

.container {
  width: 94%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
