nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #4E4E4E;
}

nav .container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.toggler {
  font-size: 20px;
  color: #FFF;
  position: relative;
}

.toggler-menu {
  display: none;
  background-color: #4E4E4E;
  position: absolute;
  top: 20px;
  right: -25px;
  padding: 20px 30px 15px 25px;
  line-height: 1.5;
  border-bottom-left-radius: 15px;
}

.toggler:hover .toggler-menu{
  display: flex;
  flex-direction: column;
}

.nav-links {
  display: none;
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


@media (min-width: 768px) {

  .toggler {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 26%;
  }
}